.payContainer {
  border: 1px solid red;
}

.backBtn {
  font-size: 0.9em;
  background-color: #f90;
  color: #000;
  border-radius: 5px;
  border: unset;
  padding: 2px 7px;
}

.queryBtn {
  font-size: 0.9em;
  background-color: transparent;
  color: #ccc;
  border-radius: 5px;
  border: unset;
}
